
.main-header-container{
   width: 100%;
    display: flex;
    justify-content: center;

}

.main-header{
    width: 400px;
    display: flex;
    justify-content: center;
    height: 120px;
}

.title-messages{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
    animation: rotation 2s infinite linear;
    transform: rotateZ(180deg) infinite;
    font-size: 24px;
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}

.title-messages:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.title-messages:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}

 @keyframes popout {
    /* from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}  */
    0%   {color:#565aa9; left:0px; top:0px;}
  25%  {color: #5461ab; left:200px; top:0px;}
  50%  {color:#506daf; left:200px; top:200px;}
  75%  {color:#4a73b5; left:0px; top:200px;}
  100% {color:#3f67c0; left:0px; top:0px;} 
 }
 @-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
} 

.statistics{
    width: 450px;
    height: 120px;
}

.profile-links{
    width: 450px;
    height: 120px;
    display: flex;
}

.playbutton-container{
    width: 150px;
    height: 115px;
    padding: 5px;
}

.playGameButton{
    width: 150px;
    height: 100px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #5461ab;
    outline: none;
    text-align: center;
    background-color: #4a73b5;
    color: #FFFFFF;
    font: inherit;
    animation: playButtonChange 1s ease;
    -webkit-animation: playButtonChange 1s ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 24px;
    font-weight: 800;
}

 @keyframes playButtonChange {
    0%   {color:#fafafa; left:0px; top:0px;}
  25%  {color: #fcf9ec; left:200px; top:0px;}
  50%  {color:#f5f4e4; left:200px; top:200px;}
  75%  {color:#f7f6ea; left:0px; top:200px;}
  100% {color: #f0efe4; left:0px; top:0px;} 
    
 }
 

.resetbutton-container{
    width: 150px;
    height: 115px;
    padding: 5px;
}

.resetButton{
    width: 150px;
    height: 100px;
    
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #5461ab;
    outline: none;
    text-align: center;
    background-color: #4a73b5;
    color: #FFFFFF;
    font: inherit;
    font-size: 24px;
    font-weight: 500;
}

.links-container{
    width: 120px;
    height: 115px;
    padding: 5px;
    
}

.git-logo{
    width: 120px;
    height: 50px;
    background-image: url("https://i.imgur.com/v5jPrdo.png");
    background-size: 40%;
    background-repeat: no-repeat;
}

.git-link{
   width: 115px;
    height: 50px;
    padding: 5px;
    background-image: url("https://i.imgur.com/v5jPrdo.png");
    background-size: 40%;
    background-repeat: no-repeat;
}

.linkedIn-link{
    width: 115px;
    height: 50px;
    padding: 5px;
    background-image: url("https://i.imgur.com/0bPZ3fC.png");
    background-size: 40%;
    background-repeat: no-repeat;
}