.main-container{
    width: 100%;
    height: 1000px;
   background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2014/07/18/398229/b5f76fc8dab0f525bdae382028e49746.jpg");
   background-size: 100%;
   font-family: sans-serif;
}

.main-header-container{
    width: 1000px;
    margin: 0 auto;

}

.main-header{
    width: 1000px;
    display: flex;
    justify-content: center;
}

.canvas-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

canvas{
    cursor:url("https://i.imgur.com/bovi0N2.png"), auto;
    background-image: url("https://i.imgur.com/t4MoWPQ.jpg");
    background-size: 900px 450px;
    
}

.title-messages{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
    animation: rotation 2s infinite linear;
    transform: rotateZ(180deg) infinite;
    font-size: 24px;
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}

.title-messages:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.title-messages:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}

 @keyframes popout {
    /* from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}  */
    0%   {color:#565aa9; left:0px; top:0px;}
  25%  {color: #5461ab; left:200px; top:0px;}
  50%  {color:#506daf; left:200px; top:200px;}
  75%  {color:#4a73b5; left:0px; top:200px;}
  100% {color:#3f67c0; left:0px; top:0px;} 
 }
 @-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
} 




.footer-container{
    width: 1000px;
   
    margin: 0 auto;
}

.main-footer{
    width: 1000px;
    
    display: flex;
    justify-content: center;
}


.footer-messages{
    width: 1000px;
    height: 200px;
    animation: fire 2.0s infinite alternate;
    text-shadow: horizontal-offset vertical-offset blur-radius color;
    color: orangered;
    display: flex;
    font-size: 36px;
    justify-content: center;
}

@keyframes fire
{
   0%
   {
       text-shadow:
       5px -25px 50px yellow,
       0 0px 20px red,
       10px -15px 15px orange;
   }
   33%
   {
       text-shadow:
       0 -20px 30px yellow,
       15px -5px 20px red,
       5px 0 20px orange;
   }
   66%
   {
       text-shadow:
       10px -25px 50px yellow,
       5px -10px 20px red,
       0 -5px 20px orange;
   }
   100%
   {
       text-shadow:
       0 -20px 50px yellow,
       5px -15px 20px red,
       10px 0 20px orange;
   }
}

.left-sidebar-container{
    width: 200px;
    height: 450px;
}

 .right-sidebar-container {
     width: 200px;
     height: 450px;
 }

.left-sidebar {
    width: 200px;
    height: 450px;
    text-orientation: upright;
    animation: fire 2.0s infinite alternate;
    text-shadow: horizontal-offset vertical-offset blur-radius color;
    
}

.right-sidebar {
     width: 200px;
    height: 450px;
}

.sideMessage {
    writing-mode: vertical-rl;
  text-orientation: upright;
  animation: fire 2.0s infinite alternate;
    color: orangered;
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    
}