body{
    background-image: url("https://i.pinimg.com/originals/98/a2/04/98a204a781f4fb7c039a5b656e05a4b3.gif");
    background-size: 100%;
   background-repeat: no-repeat;
   overflow-y: hidden;
    overflow-x: hidden;
  
   
}

.main-container{
    width: 100%;
    height:100%;
    /* height: 1000px; */
   background-image: url("https://i.pinimg.com/originals/98/a2/04/98a204a781f4fb7c039a5b656e05a4b3.gif");
   /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1VEqnwopl5JUG_buv_6CLCpTTAeZeGYk94dtDy45PbW3jyJtA"); */
   background-size: 100%;
   background-repeat: no-repeat;
   font-family: sans-serif;
  
}


.canvas-container{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}

canvas{
    cursor:url("https://i.imgur.com/bovi0N2.png"), auto;
    background-image: url("https://i.gifer.com/LcZS.gif");
    background-size: 900px 450px;
    
}


.canvas-border{
    width: 904px;
    height: 464px;
}


.box{
  box-sizing: border-box;
  height: 450px;
  overflow: hidden;
  width: 904px;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 1px solid #2a3cad;
  color: white;
  padding: 0px;
}

.left-sidebar-container{
    width: 200px;
    height: 450px;
}

 .right-sidebar-container {
     width: 200px;
     height: 450px;
 }

.left-sidebar {
    width: 200px;
    height: 450px;
    text-orientation: upright;
    animation: fire 2.0s infinite alternate;
    text-shadow: horizontal-offset vertical-offset blur-radius color;
    
}

.right-sidebar {
     width: 200px;
    height: 450px;
}

.sideMessage {
    writing-mode: vertical-rl;
  text-orientation: upright;
  animation: fire 2.0s infinite alternate;
    color: orangered;
    font-size: 55px;
    text-align: center;
    font-weight: bold; 
    padding-left: 20px;
}


.footer-container{
    width: 1000px;
   
    margin: 0 auto;
}

.main-footer{
    width: 1000px;
    
    display: flex;
    justify-content: center;
}


.footer-messages{
    width: 1000px;
    height: 200px;
    animation: fire 2.0s infinite alternate;
    text-shadow: horizontal-offset vertical-offset blur-radius color;
    color: orangered;
    display: flex;
    font-size: 36px;
    justify-content: center;
}

@keyframes fire
{
   0%
   {
       text-shadow:
       5px -26px 50px yellow,
       0 0px 20px red,
       10px -15px 15px orange;
   }
   33%
   {
       text-shadow:
       0 -21px 30px yellow,
       15px -5px 20px red,
       5px 0 20px orange;
   }
   66%
   {
       text-shadow:
       10px -26px 50px yellow,
       5px -10px 20px red,
       0 -5px 20px orange;
   }
   100%
   {
       text-shadow:
       0 -21px 50px yellow,
       5px -15px 20px red,
       10px 0 20px orange;
   }
}

#message1 {
    height: 100%; 
    width: 100%;
}